:root {
  --background: #ddbdfc;
  --secondary: #ffc8dd;
  --details: #cdb4db;
  --selectedText: #fef9ef;
  --text: #6c757d;
}

body {
  font-family: 'Courier New', monospace;
  width: 600px;
  margin: auto;
  padding: auto;
  background-color: var(--background);
  color: var(--text);
}

#root {
  margin:auto;
  text-align: center;
}

#root ul {
  padding: 0;
}

#root .importance-toggle {
  margin-top: 50px;
  width: 300px;
  height: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root textarea {
  min-width: 300px;
  height: 50px;
  font-size: larger;
  color: var(--details);

  outline:none;
  padding: 10px;
} 

#root button {
  width: 80px;
  color: var(--text);
}

form textarea, button {
  background-color: var(--secondary);
  border: 2px solid var(--details);
  border-radius: 10px;
}

#root .notes {
  margin: 10px auto 70px auto;
  padding: 20px;
  background-color: #f5d2e0;
  width: 400px;
  border-radius: 10px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.47);
  -moz-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.47);
  box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.47);
}

.hide {
  display: none;
}

.failure-notification, .success-notification {
  background-color: var(--secondary);
  font-weight: bold;
  margin: 20px auto 20px auto;
  width: 200px;
  height: 60px;
  border-radius: 5px;
}

.failure-notification {
  color: #ef233c;
  border: solid 3px #ef233c;
}

.success-notification {
  color: #99d98c;
  border: solid 3px #99d98c;
}

.login-field {
  background-color: var(--secondary);
  color: var(--text);
  height: 40px;
  padding: auto 10px auto 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.bold-text {
  font-weight: bold;
}

.btn:hover {
  color: var(--selectedText) !important;
}

::selection {
  color: var(--secondary);
  background: var(--details);
}

input:focus {
  outline: none;
}
